version: '3.8'

services:
  db:
    image: postgres:latest
    container_name: my_postgres
    environment:
      POSTGRES_USER: bandwarrior_admin
      POSTGRES_PASSWORD: ADFEfadeqr!123
      POSTGRES_DB: bandwarrior_db
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: always

volumes:
  pgdata:
    name: bandwarrior_database
